<%- title t(".title") -%>

<div class="split">

    <div class="sidebar">
        <%= render "shared/requisite_info" %>
        <%= render "shared/sidebar_links" %>
    </div>

    <div class="content">
        <%= render "prices" %>
        
        <%= render "notice" %>

        <div class="service_list">
            <%= render :partial => "service", :collection => @services %>
        </div>
    </div>
    
</div>
