<tr class="<%= cycle("odd", "even") %>">
    <td class="checkbox">
        <%= check_box_tag "id[]", order.id, false, :id => nil if state == :new %>
    </td>

    <td class="title">
        <h2>
            <%= link_to_if order.editable?, order.id, edit_order_path(order) %>
            <%- if order.connections > 0 -%>
                <span class="connections">(<%= t(".connections", :count => order.connections) %>)</span>
            <%- end -%>
        </h2>
        <p class="blocks">
            <%= order.blocks.collect(&:name).join("<br />") %>
        </p>
    </td>

    <td>
        <%= order.ordered_at %>
    </td>

    <td class="action_date">
        <%= order.ordered_from %>
    </td>

    <td class="action_date">
        <%= order.ordered_till %>
    </td>

    <td class="<%= order.access_provided? ? :confirmed : :not_confirmed %>">
        <%= order.access_provided? ? order.confirmed_at : t(".not_confirmed") %>
    </td>

    <td class="price">
        <%= number_to_currency order.total, :unit => "" %>
    </td>
</tr>
