<%- form_for @order, :url => @order.new_record? ? :orders : order_path(@order) do |f| -%>

    <table class="blocks">
        <%= hidden_field_tag "#{dom_class(@order)}[blocks_ids][]", "" %>
        <%- @order.service.blocks.each do |block| -%>
            <tr>
                <td>
                    <%= check_box_tag "#{dom_class(@order)}[blocks_ids][]", block.id, @order.blocks_ids.include?(block.id), :id => nil %>
                </td>
                <td>
                    <%= h block.code %>
                </td>
                <td>
                    <%= h block.name %>
                </td>
                <td>
                    <%= number_to_currency(block.price, :unit => "") %>
                </td>
            </tr>
        <%- end -%>
    </table>

    <dl>
        <%- @order.form.elements.each do |element| -%>
            <dt>
                <%= f.label element.id %>
            </dt>
            <dd>
                <%= f.send element.value.tag, element.id, element.value.options_for_tag %>
            </dd>
        <%- end -%>
    </dl>
    
    <%- if @order.new_record? -%>
        <dl>
            <dd>
                <%= f.check_box :accept_offer %>
            </dd>
        </dl>
    <%- end -%>

    <dl>
        <dd class="submit">
            <%= f.submit t(".commit") %>
        </dd>
    </dl>

<%- end -%>
