<%- title h(@order.service.name) -%>

<%= services_contextual_menu @order.service %>

<div class="split">

    <div class="sidebar">
        <%= render "shared/requisite_info" %>
        <%= render "shared/sidebar_links" %>
    </div>

    <div class="content">
        <%= textilize @order.service.description.short %>

        <%= render "order_form" %>
    </div>
    
</div>


