<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title><%= [t(:title, :scope => :shared), yield(:title)].compact.join(" :: ") %></title>
        <link rel="shortcut icon" href="http://assets.micex.ru/favicon.ico" />
        <%= stylesheet_link_tag "main", "services", "requisites", "orders", "forms", "buttons", "calendar", "sidebar", :cache => "micex_services" %>
        <%= stylesheet_link_tag "#{t(:passport_css, :scope => :shared)}" %>
        <%= javascript_include_tag "prototype", "i18n", "calendar", "effects", :cache => "micex_services" %>
        <%= javascript_include_tag "#{t(:passport_js, :scope => :shared)}" %>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">i18n.set_locale('<%= I18n.locale %>');</script>
        <div id="page_wrapper">
            <%= render "shared/headline" %>
            <%= render "shared/header" %>
            <%= render "shared/navigation" %>
            
            <div id="content_wrapper">
                <%= content_tag :h1, yield(:title) if title_visible? %>
                
                <%- flash.each do |key, message| -%>
                    <%= content_tag :div, message, :id => :flash, :class => key %>
                <%- end -%>

                <div id="sidebar">
                    <%= yield :sidebar %>
                </div>
                
                <div id="content">
                    <%= yield %>
                </div>
            </div>
        </div>
        
        <div id="footer_wrapper">
            <%= render "shared/footer" %>
        </div>
        
        <%= render "shared/homes" %>
    </body>
</html>
